@import url('https://fonts.googleapis.com/css?family=PT+Mono');

html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'PT Mono', monospace;
  height: 100%;
  width: 100%;
  background-color: #252320;
}

* {
  box-sizing: border-box;
}
